html {font-family: fantasy; background-color:rgb(200, 255, 128); text-align: center} /*rgb(200, 255, 128)*/
h1 {color:green; front-size: 14px}
p {color: darkcyan} /*purple*/
#finale {color: teal; font-size: 80px}
